* {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-image: url(../src/Img/couch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ul {
  margin-left: 30%;
}

.btn-add {
  margin-left: 24%;
}

